*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f2f2f2;
}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo{
    color: #3E76DE;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

.contenedor > form {
    font-size: 18px;
    text-align: center;
    margin-bottom: 60px;
}

.contenedor > form label {
    color: #3E76DE;
    font-size: 20px;
}

.contenedor > form .textInput {
    margin: 20px;
    width: 80%;
    font-size: 15px;
    padding: 10px;
    border-color: #3E76DE;
    border-radius: 10px;
    
}

.contenedor > form .submitInput {
    background-color: #3E76DE;
    color: white;
    border: 0;
    margin: 20px;
    width: 30%;
    font-size: 20px;
    cursor: pointer;
}

.tituloBusqueda{
    color: #3E76DE;
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
}

.resultados{
    text-align: center;
    margin-bottom: 10px;
}

.resultadosFinales{
    text-align: center;
    margin-bottom: 15px;
    color: #3E76DE;
}
